<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><span class="bold">Details: </span>{{book.title}}</h3>
    </div>
    <div class="panel-body">
        <ul class="">
            <li>
                <span class="bold">Title: </span>
                <span>{{book.title}}</span>
            </li>
            <li>
                <span class="bold">Author: </span>
                <span>{{book.author}}</span>
            </li>
            <li>
                <span class="bold">Price: </span>
                <span>{{book.price | currency}}</span>
            </li>
        </ul>
        <div class="col-lg-2">
            <button class="btn btn-success btn-block" ng-click="edit(book)">Edit</button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-danger btn-block" ng-click="delete(book)">Delete</button>
        </div>
    </div>
</div>
