<form id="formBook" class="form" ng-submit="save()">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" id="title" ng-model="book.title" class="form-control" />
        <p class="help-block">Enter the book's name.</p>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" ng-model="book.author" class="form-control" />
        <p class="help-block">Enter the book's author.</p>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" ng-model="book.price" class="form-control" />
        <p class="help-block">Enter the book's price.</p>
    </div>
    <div class="col-lg-2">
        <button type="submit" class="btn btn-primary btn-block" >Save</button>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-warning btn-block" ng-click="cancel()">Cancel</a>
    </div>
</form>