<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="mousehand" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="book in books | filter:query">
            <td ng-click="view(book)">{{book.title}}</td>
            <td ng-click="view(book)">{{book.author}}</td>
            <td ng-click="view(book)">{{book.price | currency}}</td>
            <td>
                <div>
                    <span class="glyphicon glyphicon-pencil" ng-click="edit(book)" ></span>
                    <span class="glyphicon glyphicon-remove" ng-click="delete(book)" ></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>