body{
    min-height: 2000px;
    padding-top: 70px;
}

.bold{
    font-weight: bold;
}

.mousehand{
    cursor: pointer;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}